
div {
    background-color: rgb(251, 251, 251);
}


a {
    color:blanchedalmond
}

.container {
    
    position:absolute;
    width: 940px;
    height: 100%;
    background-color: grey;
    left: 100%;
    transform: traslateX(-50%);
}
